<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>PROJET S4</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/screen.css') }}">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img src="{{ asset('img/logo.png') }}"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav nav-center">
                <li class="active"><a href="{{ path('homepage') }}">Accueil<span class="sr-only">(current)</span></a></li>
                <p style="font-weight: bold; color: white; font-family: 'Alegreya', arial, serif" class="navbar-text">~</p>
                <li><a href="#">Concours</a></li>
                <p style="font-weight: bold; color: white; font-family: 'Alegreya', arial, serif" class="navbar-text">~</p>
                <li><a href="#">Magazine</a></li>
                <p style="font-weight: bold; color: white; font-family: 'Alegreya', arial, serif" class="navbar-text">~</p>
                <li><a href="#">Jeu</a></li>
                <p style="font-weight: bold; color: white; font-family: 'Alegreya', arial, serif" class="navbar-text">~</p>
                <li><a href="{{ path('discutea_forum_homepage') }}">Forum ~</a></li>
                {% if app.user %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> {{ app.user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('app_user_affichermonprofil') }}">Mon profil</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                    <p style="font-weight: bold; color: white; font-family: 'Alegreya', arial, serif" class="navbar-text">~</p>
                {% else %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="#">Espace membre</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                            <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                        </ul>
                    </li>
                    <p style="font-weight: bold; color: white; font-family: 'Alegreya', arial, serif" class="navbar-text">~</p>
                {% endif %}
                <li><a href="#">Contact</a></li>
                <li><img src="{{ asset('img/french.png') }}" alt="Site en français"></li>
                <li><img src="{{ asset('img/english.png') }}" alt="Website in english"></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
            {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('js/jquery.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
