{% extends 'base.html.twig' %}

{% block body %}
    <div  class="container" style="margin-top: 130px">
        <h1>Parties list</h1>

        <table class="table-bordered" style="padding: 10px;">
            <thead>
            <tr>
                <th>Id</th>
                <th>Pointj1</th>
                <th>Pointj2</th>
                <th>Tourde</th>
            </tr>
            </thead>
            <tbody>
            {% for party in parties %}
                <tr>
                    <td><a href="afficher/{{ party.id }}">{{ party.id }}</a></td>
                    <td>{{ party.scoreJoueur1 }}</td>
                    <td>{{ party.scoreJoueur2 }}</td>
                    <td>{{ party.PartieTourJoueurId }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table><br />
        <a href="{{ path('app_partie_createpartie') }}" class="btn btn-info">Créer une partie !</a>
    </div>
{% endblock %}